# GENERADOR DE DATOS SINTÉTICOS A PARTIR DE UNA MUESTRA

In [23]:
import pandas as pd

df = pd.read_csv('/content/df_1.csv')
display(df.head())

,fecha,origen,edad,motivo,transporte,dias,acompañante,frecuencia,alojamiento
0,21/7/2025 8:56:40,Salta - Tartagal,50 a 64,Trabajo o negocios,Colectivo de Línea,4 a 7 días,Con familiares,2 o 3 veces al año,Hotel 2*
1,21/7/2025 9:02:14,Jujuy - Perico,30 a 49,Vacaciones / Descanso,Automóvil,2 a 3 días,Con amigos,Una vez al año,Cabañas
2,21/7/2025 18:09:53,Bs As Moron,50 a 64,Vacaciones / Descanso,Colectivo de Tours,4 a 7 días,Con familiares,Primera vez,Hotel 3*
3,21/7/2025 18:17:08,Rafaela Santa Fe,50 a 64,Vacaciones / Descanso,Colectivo de Línea,2 a 3 días,Con amigos,Primera vez,Hotel 3*
4,21/7/2025 19:11:54,Chacabuco bs as,65 o más,Trabajo o negocios,Automóvil,Más de una semana,Solo/a,2 o 3 veces al año,Hotel 3*

In [24]:
df.shape

(27, 9)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        27 non-null     object
 1   origen       27 non-null     object
 2   edad         27 non-null     object
 3   motivo       27 non-null     object
 4   transporte   27 non-null     object
 5   dias         27 non-null     object
 6   acompañante  27 non-null     object
 7   frecuencia   27 non-null     object
 8   alojamiento  27 non-null     object
dtypes: object(9)
memory usage: 2.0+ KB

In [26]:
display(df['edad'].value_counts())

edad
50 a 64     10
30 a 49      9
65 o más     4
18 a 29      4
Name: count, dtype: int64

In [27]:
display(df.isnull().sum())

fecha          0
origen         0
edad           0
motivo         0
transporte     0
dias           0
acompañante    0
frecuencia     0
alojamiento    0
dtype: int64

Generar un dataframe sintético de 1000 registros similar al dataframe cargado.

Análisis de datos: Analiza el DataFrame existente para entender la distribución y los tipos de datos de cada columna.

Muestra los tipos de datos y los recuentos no nulos para cada columna y, a continuación, itere a través de las columnas de objetos para mostrar los recuentos de valores para cada una.

In [28]:
display(df.info())

for col in df.select_dtypes(include='object').columns:
    display(f"Value counts for column: {col}")
    display(df[col].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        27 non-null     object
 1   origen       27 non-null     object
 2   edad         27 non-null     object
 3   motivo       27 non-null     object
 4   transporte   27 non-null     object
 5   dias         27 non-null     object
 6   acompañante  27 non-null     object
 7   frecuencia   27 non-null     object
 8   alojamiento  27 non-null     object
dtypes: object(9)
memory usage: 2.0+ KB

None

'Value counts for column: fecha'

fecha
21/7/2025 8:56:40     1
21/7/2025 9:02:14     1
21/7/2025 18:09:53    1
21/7/2025 18:17:08    1
21/7/2025 19:11:54    1
21/7/2025 19:33:05    1
25/7/2025 19:31:20    1
25/7/2025 19:44:25    1
23/8/2025 10:31:46    1
23/8/2025 11:18:27    1
30/5/2025 9:36:52     1
4/6/2025 0:26:25      1
22/6/2025 21:47:12    1
18/7/2025 12:36:44    1
19/7/2025 18:10:43    1
8/11/2025 9:38:31     1
8/11/2025 9:41:06     1
8/11/2025 9:48:38     1
8/11/2025 9:51:42     1
8/11/2025 9:54:17     1
8/11/2025 9:58:19     1
8/11/2025 10:19:51    1
8/11/2025 10:22:05    1
8/11/2025 10:25:34    1
8/11/2025 10:28:33    1
8/11/2025 10:30:47    1
8/11/2025 10:38:40    1
Name: count, dtype: int64

'Value counts for column: origen'

origen
San Miguel/Tucumán        2
Salta - Tartagal          1
Bs As Moron               1
Rafaela Santa Fe          1
Chacabuco bs as           1
Bs As capital             1
Córdoba capital           1
Santiago capital          1
Leones cordoba            1
Jujuy - Perico            1
Posadas misiones          1
Salta /Tartagal           1
Buenos Aires              1
Santiago                  1
San Juan                  1
Córdoba, Córdoba          1
Concepción/Tucumán        1
Yerba Buena/Tucumán       1
Rosario/Santa Fe          1
Capital/San Luis          1
Metán/Salta               1
San Pedro/Jujuy           1
San Fernando/Catamarca    1
Posadas/Misiones          1
Maipú/Mendoza             1
Santa Rosa/La Pampa       1
Name: count, dtype: int64

'Value counts for column: edad'

edad
50 a 64     10
30 a 49      9
65 o más     4
18 a 29      4
Name: count, dtype: int64

'Value counts for column: motivo'

motivo
Vacaciones / Descanso                          11
Turismo termal / Bienestar                      7
Eventos deportivos o actividades culturales     5
Trabajo o negocios                              4
Name: count, dtype: int64

'Value counts for column: transporte'

transporte
Automóvil             12
Colectivo de Línea     8
Colectivo de Tours     7
Name: count, dtype: int64

'Value counts for column: dias'

dias
2 a 3 días           14
4 a 7 días            9
Más de una semana     2
1 día (excursión)     2
Name: count, dtype: int64

'Value counts for column: acompañante'

acompañante
Con familiares    14
Con amigos        11
Solo/a             1
Turistas           1
Name: count, dtype: int64

'Value counts for column: frecuencia'

frecuencia
Una vez al año        9
2 o 3 veces al año    7
Primera vez           6
4 o más veces         3
Mas de 3 veces        2
Name: count, dtype: int64

'Value counts for column: alojamiento'

alojamiento
Hotel 2*       12
Hotel 3*        7
Hotel 4*        3
Cabañas         2
Apart Hotel     2
Hotel 1*        1
Name: count, dtype: int64

## Generación de datos sintéticos

Genera datos sintéticos para cada columna basándose en el análisis del paso anterior y en las distribuciones y tipos de datos observados.

In [29]:
import numpy as np
from datetime import datetime, timedelta

# Generate synthetic data for each column
n_samples = 3500

# fecha (Date)
# Analyze the date range from the original data
df['fecha'] = pd.to_datetime(df['fecha'], format='%d/%m/%Y %H:%M:%S')
min_date = df['fecha'].min()
max_date = df['fecha'].max()
date_range = (max_date - min_date).days

synthetic_fecha = [min_date + timedelta(days=np.random.randint(0, date_range),
                                       seconds=np.random.randint(0, 86400))
                   for _ in range(n_samples)]

# Categorical columns (using value counts for distribution)
categorical_cols = ['origen', 'edad', 'motivo', 'transporte', 'dias', 'acompañante', 'frecuencia', 'alojamiento']
synthetic_data = {}

for col in categorical_cols:
    value_counts = df[col].value_counts(normalize=True)
    synthetic_data[col] = np.random.choice(value_counts.index, size=n_samples, p=value_counts.values)

# Store synthetic data in variables
synthetic_origen = synthetic_data['origen']
synthetic_edad = synthetic_data['edad']
synthetic_motivo = synthetic_data['motivo']
synthetic_transporte = synthetic_data['transporte']
synthetic_dias = synthetic_data['dias']
synthetic_acompañante = synthetic_data['acompañante']
synthetic_frecuencia = synthetic_data['frecuencia']
synthetic_alojamiento = synthetic_data['alojamiento']

# Display the first few synthetic dates to verify
display(synthetic_fecha[:5])

# Display value counts for a couple of synthetic categorical columns to verify distribution
display(pd.Series(synthetic_origen).value_counts(normalize=True))
display(pd.Series(synthetic_edad).value_counts(normalize=True))

[Timestamp('2025-06-04 13:57:01'),
 Timestamp('2025-09-08 07:43:01'),
 Timestamp('2025-10-02 11:00:27'),
 Timestamp('2025-10-30 18:02:50'),
 Timestamp('2025-07-22 01:55:17')]

San Miguel/Tucumán        0.075714
San Fernando/Catamarca    0.044286
Leones cordoba            0.042857
Rafaela Santa Fe          0.042000
Capital/San Luis          0.040857
Metán/Salta               0.040857
Salta /Tartagal           0.039714
Posadas/Misiones          0.039429
Santiago                  0.038857
Santiago capital          0.038857
Maipú/Mendoza             0.038000
San Pedro/Jujuy           0.037714
Posadas misiones          0.037429
Bs As Moron               0.037429
Córdoba, Córdoba          0.036857
Concepción/Tucumán        0.036571
Bs As capital             0.036286
San Juan                  0.034857
Córdoba capital           0.034571
Santa Rosa/La Pampa       0.034286
Jujuy - Perico            0.034286
Buenos Aires              0.034000
Yerba Buena/Tucumán       0.033429
Salta - Tartagal          0.031429
Rosario/Santa Fe          0.030000
Chacabuco bs as           0.029429
Name: proportion, dtype: float64

50 a 64     0.381714
30 a 49     0.317429
65 o más    0.152000
18 a 29     0.148857
Name: proportion, dtype: float64

## Creación del dataframe sintético

### Subtask:
Combina los datos generados en un nuevo DataFrame.

**Reasoning**:
Combine the generated synthetic data into a dictionary and create a new DataFrame from it.

In [30]:
# Create a dictionary from the synthetic data
synthetic_data_dict = {
    'fecha': synthetic_fecha,
    'origen': synthetic_origen,
    'edad': synthetic_edad,
    'motivo': synthetic_motivo,
    'transporte': synthetic_transporte,
    'dias': synthetic_dias,
    'acompañante': synthetic_acompañante,
    'frecuencia': synthetic_frecuencia,
    'alojamiento': synthetic_alojamiento
}

# Create the synthetic DataFrame
df_synthetic = pd.DataFrame(synthetic_data_dict)

# Display the head of the synthetic DataFrame
display(df_synthetic.head())

,fecha,origen,edad,motivo,transporte,dias,acompañante,frecuencia,alojamiento
0,2025-06-04 13:57:01,Metán/Salta,50 a 64,Eventos deportivos o actividades culturales,Colectivo de Línea,1 día (excursión),Con familiares,Primera vez,Hotel 2*
1,2025-09-08 07:43:01,Concepción/Tucumán,50 a 64,Turismo termal / Bienestar,Colectivo de Línea,2 a 3 días,Con amigos,2 o 3 veces al año,Hotel 3*
2,2025-10-02 11:00:27,Capital/San Luis,30 a 49,Vacaciones / Descanso,Colectivo de Línea,1 día (excursión),Con familiares,4 o más veces,Hotel 2*
3,2025-10-30 18:02:50,Chacabuco bs as,50 a 64,Eventos deportivos o actividades culturales,Colectivo de Línea,2 a 3 días,Con amigos,Una vez al año,Hotel 2*
4,2025-07-22 01:55:17,Santiago,30 a 49,Vacaciones / Descanso,Colectivo de Línea,2 a 3 días,Con amigos,Una vez al año,Hotel 2*

In [31]:
df_synthetic.shape

(3500, 9)

In [32]:
df_synthetic.to_csv('df_synthetic.csv', index=False)

Se ha generado el archivo `df_synthetic.csv`. Puedes descargarlo desde el explorador de archivos de Colab (icono de carpeta a la izquierda).

## Verificación de datos

### Subtask:
Verifica que el DataFrame sintético tenga la estructura y las características deseadas.

**Reasoning**:
Display the head, shape, and info of the synthetic DataFrame and value counts for categorical columns to verify its structure and characteristics.

In [33]:
display(df_synthetic.head())
display(df_synthetic.shape)
display(df_synthetic.info())

categorical_cols = ['origen', 'edad', 'motivo', 'transporte', 'dias', 'acompañante', 'frecuencia', 'alojamiento']
for col in categorical_cols:
    display(f"Normalized value counts for column: {col}")
    display(df_synthetic[col].value_counts(normalize=True))

,fecha,origen,edad,motivo,transporte,dias,acompañante,frecuencia,alojamiento
0,2025-06-04 13:57:01,Metán/Salta,50 a 64,Eventos deportivos o actividades culturales,Colectivo de Línea,1 día (excursión),Con familiares,Primera vez,Hotel 2*
1,2025-09-08 07:43:01,Concepción/Tucumán,50 a 64,Turismo termal / Bienestar,Colectivo de Línea,2 a 3 días,Con amigos,2 o 3 veces al año,Hotel 3*
2,2025-10-02 11:00:27,Capital/San Luis,30 a 49,Vacaciones / Descanso,Colectivo de Línea,1 día (excursión),Con familiares,4 o más veces,Hotel 2*
3,2025-10-30 18:02:50,Chacabuco bs as,50 a 64,Eventos deportivos o actividades culturales,Colectivo de Línea,2 a 3 días,Con amigos,Una vez al año,Hotel 2*
4,2025-07-22 01:55:17,Santiago,30 a 49,Vacaciones / Descanso,Colectivo de Línea,2 a 3 días,Con amigos,Una vez al año,Hotel 2*

(3500, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        3500 non-null   datetime64[ns]
 1   origen       3500 non-null   object
 2   edad         3500 non-null   object
 3   motivo       3500 non-null   object
 4   transporte   3500 non-null   object
 5   dias         3500 non-null   object
 6   acompañante  3500 non-null   object
 7   frecuencia   3500 non-null   object
 8   alojamiento  3500 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 246.2+ KB

None

'Normalized value counts for column: origen'

origen
San Miguel/Tucumán        0.075714
San Fernando/Catamarca    0.044286
Leones cordoba            0.042857
Rafaela Santa Fe          0.042000
Capital/San Luis          0.040857
Metán/Salta               0.040857
Salta /Tartagal           0.039714
Posadas/Misiones          0.039429
Santiago                  0.038857
Santiago capital          0.038857
Maipú/Mendoza             0.038000
San Pedro/Jujuy           0.037714
Posadas misiones          0.037429
Bs As Moron               0.037429
Córdoba, Córdoba          0.036857
Concepción/Tucumán        0.036571
Bs As capital             0.036286
San Juan                  0.034857
Córdoba capital           0.034571
Santa Rosa/La Pampa       0.034286
Jujuy - Perico            0.034286
Buenos Aires              0.034000
Yerba Buena/Tucumán       0.033429
Salta - Tartagal          0.031429
Rosario/Santa Fe          0.030000
Chacabuco bs as           0.029429
Name: proportion, dtype: float64

'Normalized value counts for column: edad'

edad
50 a 64     0.381714
30 a 49     0.317429
65 o más    0.152000
18 a 29     0.148857
Name: proportion, dtype: float64

'Normalized value counts for column: motivo'

motivo
Vacaciones / Descanso                          0.413429
Turismo termal / Bienestar                     0.260571
Eventos deportivos o actividades culturales    0.188571
Trabajo o negocios                             0.137429
Name: proportion, dtype: float64

'Normalized value counts for column: transporte'

transporte
Automóvil             0.450000
Colectivo de Línea    0.299714
Colectivo de Tours    0.250286
Name: proportion, dtype: float64

'Normalized value counts for column: dias'

dias
2 a 3 días           0.508286
4 a 7 días           0.341714
1 día (excursión)    0.076286
Más de una semana    0.073714
Name: proportion, dtype: float64

'Normalized value counts for column: acompañante'

acompañante
Con familiares    0.506286
Con amigos        0.424857
Solo/a            0.036000
Turistas          0.032857
Name: proportion, dtype: float64

'Normalized value counts for column: frecuencia'

frecuencia
Una vez al año        0.315429
2 o 3 veces al año    0.274857
Primera vez           0.216857
4 o más veces         0.114000
Mas de 3 veces        0.078857
Name: proportion, dtype: float64

'Normalized value counts for column: alojamiento'

alojamiento
Hotel 2*       0.441429
Hotel 3*       0.260571
Hotel 4*       0.115143
Apart Hotel    0.071429
Cabañas        0.070000
Hotel 1*       0.041429
Name: proportion, dtype: float64

## Resumen:

### Hallazgos clave del análisis de datos

* El DataFrame original `df` consta de 15 entradas y 9 columnas, todas inicialmente de tipo de datos 'object' y sin valores nulos.

* Se generaron datos sintéticos para 1000 registros de cada columna, imitando los tipos de datos y las distribuciones observadas en los datos originales.

* La columna sintética `fecha` contiene objetos datetime dentro del rango de fechas de los datos originales.

* Las columnas categóricas sintéticas (`origen`, `edad`, `motivo`, `transporte`, `dias`, `acompañante`, `frecuencia`, `alojamiento`) mantienen las proporciones aproximadas de las categorías de los datos originales.

* El DataFrame sintético final `df_synthetic` tiene 1000 filas y 9 columnas, con la columna 'fecha' de tipo datetime64\[ns] y las demás columnas categóricas de tipo 'object', y no contiene valores faltantes.

### Reflexiones o próximos pasos

* El conjunto de datos sintéticos generado puede utilizarse para probar modelos o análisis que requieran un conjunto de datos más grande con características similares al original, sin utilizar datos confidenciales ni reales.

* Un análisis más profundo podría consistir en comparar las propiedades estadísticas (por ejemplo, correlaciones, estadísticas descriptivas) entre los conjuntos de datos originales y sintéticos para evaluar la precisión con la que los datos sintéticos replican los originales.